@model System.Linq.IQueryable<FindMyLibrary.Web.Models.Domain.City>

@{
  
}

<h2>Pick a City</h2>
<div id="cityList" class="row-fluid">
  @foreach(var city in Model.OrderBy(a => a.Name).Distinct())
  {
      
      <div class="span3">@Html.ActionLink(city.Name, "GetLibrariesByCity", "Library" ,new {stateAbbreviation = city.stateAbbreviation, cityName = city.Name}, null)</div>
  }
</div>