@model IEnumerable<FindMyLibrary.Web.Models.Domain.State>

@{
  ViewBag.Title = "Home Page";
}

<h2> Pick a State</h2>
<div id="stateList" class="row-fluid">
        <div class="span4"><p>Hi mom</p></div>
        <div class="span8">Hello there</div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        FindMyLibrary._callbackStateList();
    });
</script>