@model IEnumerable<FindMyLibrary.Web.Models.Domain.State>

@{
  ViewBag.Title = "Home Page";
}

<h2> Pick a State</h2>
<div id="stateList" class="row-fluid">
        
</div>

<script type="text/javascript">
    $(document).ready(function() {
        FindMyLibrary._callbackStateList();
    });
</script>