@model IEnumerable<FindMyLibrary.Web.Models.Domain.State>

@{
  ViewBag.Title = "Home Page";
}

<div id="states">
    <div id="stateList"><p>Hi mom</p></div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        FindMyLibrary._callbackStateList();
    });
</script>